@import "tailwindcss";
@import 'flowbite';
@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";

body {
  font-family: 'Inter', sans-serif;
}

::placeholder {
  color: #9CA3AF; /* Tailwind's gray-400 */
  opacity: 1; /* Override default opacity */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important;
    background-color: white !important;
  }
  /* yoki boshqa uslublarni light tarzda majburlash */
}