@import "tailwindcss";
@import 'flowbite';
@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";

/* Disable text selection */
*, 
::before,
::after {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -ms-user-drag: none !important;
}

body {
  font-family: 'Inter', sans-serif;
}

::placeholder {
  color: #9CA3AF; /* Tailwind's gray-400 */
  opacity: 1; /* Override default opacity */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important;
    background-color: white !important;
  }
  /* yoki boshqa uslublarni light tarzda majburlash */
}